# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Database
DATABASE_URL="your_database_url_here"

# PostgreSQL connection string used for migrations
DIRECT_URL="your_direct_url_here"

# Environment
NODE_ENV="development"

# OpenAI
OPENAI_API_KEY="your_openai_api_key_here"
OPENROUTER_API_KEY="your_openrouter_api_key_here"

# Assembly AI
ASSEMBLY_AI_API_KEY="your_assembly_ai_api_key_here"

# Unsplash
UNSPLASH_ACCESS_KEY="your_unsplash_access_key_here"
UNSPLASH_SECRET_KEY="your_unsplash_secret_key_here"
UNSPLASH_REDIRECT_URI="your_unsplash_redirect_uri_here"

# LemonFox
LEMONFOX_API_KEY="your_lemonfox_api_key_here"

# Remotion AWS
REMOTION_AWS_REGION="your_remotion_aws_region_here"
REMOTION_AWS_ACCESS_KEY_ID="your_remotion_aws_access_key_id_here"
REMOTION_AWS_SECRET_ACCESS_KEY="your_remotion_aws_secret_access_key_here"

# Leia
LEIA_ID="your_leia_id_here"
LEIA_SECRET="your_leia_secret_here"
ORIGINAL_IMAGE_URL="your_original_image_url_here"
ORIGINAL_DISPARITY_URL="your_original_disparity_url_here"

# AWS S3
S3_BUCKET_REGION="your_s3_bucket_region_here"
S3_BUCKET_NAME="your_s3_bucket_name_here"
AWS_ACCESS_KEY_ID="your_aws_access_key_id_here"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key_here"

# Supabase
SUPABASE_URL="your_supabase_url_here"
SUPABASE_ANON_KEY="your_supabase_anon_key_here"

# Supabase - Client Side
NEXT_PUBLIC_SUPABASE_URL="your_supabase_url_here"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your_supabase_anon_key_here"